# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml
*.iws

# Generated
*.g.dart
*.freezed.dart
*.gr.dart

# OS
.DS_Store
Thumbs.db

# Local config & secrets
.env
*.local
android/local.properties
android/key.properties
*.jks

# Android
android/.gradle/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.podspec
